<footer class="o-footer--white">
    <div class="container">
      <div class="footerRight">
        <span class="o-author__name">Made with <span class="inline-icon">
          <svg width="24px" height="22px" viewBox="0 0 32 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="heart" transform="translate(-1.000000, 0.000000)" fill-rule="nonzero" fill="#F05228">
                    <path d="M23.6000024,3.32087445 C20.0285902,-1.31590901 12.9999527,1.42008123 12.9999527,6.12886444 C12.9999527,1.42008123 5.9708653,-1.316134 2.39894679,3.32087445 C-1.29272754,8.11459485 2.34590323,16.5119587 12.9997277,21.3357164 C23.653046,16.5119587 27.2916767,8.11459485 23.6000024,3.32087445 Z" id="Shape"></path>
                </g>
            </g>
          </svg>
        </span>in India by <br/>
        <a href="https://github.com/ravidsrk" target="_blank" class="o-author__link">Ravindra Kumar</a></span>
      </div>
    </div>
  </footer>