footer
  .container.text-center
    p.pull-left © 2017 Ravindra Kumar. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/ravidsrk/proguardplease.com') GitHub Project
      li
        a(href='https://github.com/ravidsrk/proguardplease.com/issues') Issues