<div class="o-slider">
    <div class="container">
      <div class="o-menu">
        <div class="brand__logo">
          <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="32px" height="44px" viewBox="0 0 32 44" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                <path id="a" d="M0 .01v27.766h27.676V.01z"/>
                <path id="c" d="M27.734.055H.057V27.82h27.677V.054z"/>
              </defs>
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(0 15.853)">
                  <mask id="b" fill="#fff">
                    <use xlink:href="#a"/>
                  </mask>
                  <path fill="#FF0D81" d="M10.162 27.776l17.514-10.13L17.516.01 0 10.143" mask="url(#b)"/>
                </g>
                <g transform="translate(4.226 .01)">
                  <mask id="d" fill="#fff">
                    <use xlink:href="#c"/>
                  </mask>
                  <path fill="#07EEFF" d="M10.22 27.82l17.514-10.13L17.572.054.057 10.185" mask="url(#d)"/>
                </g>
                <path fill="#D608C3" d="M4.18 10.255l10.16 17.633 13.337 5.61-10.162-17.633"/>
                <path fill="#9307FF" d="M4.18 10.255l5.758 9.992 7.577-4.382"/>
                <path fill="#AF08CC" d="M14.34 27.888l7.578-4.382-4.403-7.64-7.577 4.38"/>
              </g>
            </svg>
          </a>
        </div>
        <a href="/">
          <h2 class="o-menu__brand">Android Starters</h2>
        </a>
        <span class="o-icon--social">
          <a href="https://github.com/androidstarters/androidstarters.com/" class="o-icon__item" target="_blank">
            <img src="https://img.shields.io/github/stars/ravidsrk/androidstarters.com.svg?style=social&label=Star" alt="">
          </a>
          <a href="https://twitter.com/intent/tweet?text=🔥 Android Starters ★ Handcrafted android starter projects, optimized for simplicity and ease of use by @ravidsrk. http://androidstarters.com/" class="o-icon__" target="_blank">
            <img src="https://img.shields.io/twitter/url/http/shields.io.svg?style=social" alt="Tweet about AndroidStarters">
          </a>          
        </span>        
      </div>

      <div class="o-slider__box">
        <h1 class="o-slider__head">Boilerplate for your next Android project, made simple.</h1>
        <p class="o-slider__sub">Handcrafted starter projects, optimized for simplicity and ease of use. </p>
        <a href="#build" class="o-btn__cta">Build</a>
      </div>
    </div>
  </div>