extends layout

block content
  div.header
    h1 Android Starters
    p.lead Handcrafted Android Starters Projects
  hr
  .row
    .col
    form(method='POST', action="/download")
      .form-group
        label(for='appName') App Name
        input.form-control(type='text', placeholder='SampleApp' value='SampleApp' name='appName')
        label(for='packageName') Package Name
        input.form-control(type='text', placeholder='io.sample.app' value='io.sample.app' name='packageName')
        label(for='templateName') Architecture
        input.form-control(type='text', placeholder='androidstarters-kotlin' value='androidstarters-kotlin' name='templateName')
      button#search.btn.btn-default(type='submit') Download
