// Global Variables


// COLORS
$bright-green: #00ff2d;
$sec: #490daf;
$off: #fff;

$base: #27272A;
$fill-dark-grey: #181C24;
$fill-dark: #3B3E43;
$fill-dark-light: #686C75;
$fill-dark-light: #c4cad2;
$fill-bright: $sec;
$fill-white: #fff;

$fill-primary: #490daf;
$fill-base: $fill-primary;
$fill-asc-2: #fc0ca6;
$fill-asc: $bright-green;
$fill-maroon: #44073c;

// SIZE
$feature-height: 400px;

// TYPE
$font-light: 'Poppins', Helvetica, Arial, sans-serif;
$font-base: 'Poppins', Helvetica, Arial, sans-serif;